# Jekyll Stuff
_build
.sass-cache
.jekyll-metadata

# Node Stuff
node_modules

# Mac Stuff
.DS_Store

# Assets
assets/css

# Fonts
assets/fonts/protected

# rbenv
.gems
assets/js/build
assets/js/build/*
libphp5.so