// Generic color classes for easy background color assignment
$colors: (
  "black": $black,
  "red": $red,
  "concrete-med": $concrete-med,
  "concrete-light": $concrete-light,
  "off-white": $off-white,
  "white": $white,
  "copper": $copper,
  "brass": $brass,
  "green": $green,
  "blue": $blue,
  "teal": $teal,
  "violet": $violet,
  "gray": $gray
);

@each $color-key, $color in $colors {
  .background-#{$color-key} {
    background-color: $color;
  }
}

@each $color-key, $color in $colors {
  .text-#{$color-key} {
    color: $color;
  }
}