// Variables

// Primary colors
$black: #282826; // ID file: "Soft Black"
$red: #ff422d; // ID file: "AEI Red"
$concrete-med: #87847f;
$concrete-light: #d1ccc1;
$off-white: #f4f2ed;
$white: #fff;

// Secondary colors
$copper: #664747;
$brass: #725e4f;
$green: #545b44;
$blue: #3d4460;
$teal: #475b66;
$violet: #56425b;
$gray: #595954;

// Spacing/sizing
$beat: 8px;
$padding: 5*$beat;
$landscape-padding: 66.66%;
$portrait-padding: 133.33%;

// Misc

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 750px;
$breakpoint-lg: 1200px;