// Variables

// Colors
$black: #333;
$white: #fff;

// Brand Colors
// $brand-primary: $teal;
// $brand-secondary: $blue-dark;

// Spacing/sizing

// Misc

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 900px;
$breakpoint-nav: 1020px;
$breakpoint-lg: 1000px;