<footer class="site-footer" role="contentinfo">
  <div class="wrapper">
    <div class="social footer-block">
      <ul class="social-list">
        <li class="social-list-item">
          <a href="{{ site.social.linkedin }}" target="_blank"><svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin" /></svg> LinkedIn</a>
          </li>
        <li class="social-list-item">
          <a href="{{ site.social.twitter }}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter" /></svg> Twitter</a>
        </li>
        <li class="social-list-item">
          <a href="{{ site.social.instagram }}" target="_blank"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram" /></svg> Instagram</a>
        </li>
      </ul>
  </div>
  </div>
  <div class="copyright footer-block">&copy;{{ site.time | date: '%Y' }} {{ site.title }}, Inc.</div>
</footer>

<script src="{{ 'assets/js/build/site.min.js' | absolute_url }}"></script>