<header class="site-header row" role="banner">
  <div class="lockup-block row-block pad">
    <div class="lockup bigclicky">
      <div class="affiliated-engineers">
        <h1 class="sr-only"><a href="/">{{ site.title }}</a></h1>
        <svg class="logo"><use xlink:href="#affiliated-engineers-logo" /></svg>
      </div>
      <ul class="plan-design-commission">
        <li>Plan</li>
        <li>Design</li>
        <li>Commission</li>
      </ul>
    </div>
  </div>
  <div class="search-block row-block pad">
    <div class="search-open">
      Search <svg class="icon-search"><use xlink:href="#icon-search" /></svg>
    </div>
  </div>
  <ul class="secondary-links links-block row-block pad">
  {% for navItem in site.data.navigation.navItems.secondary %}
    <li class="secondary-links-item {% if page.url contains navItem.path %} current{% endif %}">
      <a href="{{ navItem.path }}">{{ navItem.title }}</a>
    </li>
  {% endfor %}
  </ul>
</header>