{% if page.nextPost or page.prevPost %}
  <nav class="row -halves -separators post-navigation">
    {% if page.prevPost %}
      <div class="row-block bigclicky">
        <article class="module pad prev-post">
          <div class="text-red font-details no-margin">Previous {{ include.category }}</div>
          <h1 class="font-h2 post-title"><a href="{{ page.prevPostPermalink }}" class="no-underline">{{ page.prevPost }}</a></h1>
          <svg class="icon icon-left-arrow"><use xlink:href="#icon-left-arrow" /></svg>
        </article>
      </div>
    {% endif %}

    {% if page.nextPost %}
      <div class="row-block bigclicky {% unless page.prevPost %}-right{% endunless %}">
        <article class="module pad next-post">
          <div class="text-red font-details  no-margin">Next {{ include.category }}</div>
          <h1 class="font-h2 post-title"><a href="{{ page.nextPostPermalink }}" class="no-underline">{{ page.nextPost }}</a></h1>
          <svg class="icon icon-right-arrow"><use xlink:href="#icon-right-arrow" /></svg>
        </article>
      </div>
    {% endif %}

  </nav>
{% endif %}