// Base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  @include font-p;
}

a {
  color: inherit;
}

.svgs-defs {
  display: none;
}

.bigclicky {
  cursor: pointer;
}