// Header

.site-header {
  background-color: $concrete-med;

  .secondary-links, .search-block {
    display: none;
  }

  .lockup-block {
    background: $white;
  }

  @include media-lg {
    min-height: 16*$beat;

    .lockup-block {
      display: none;
    }

    .secondary-links, .search-block {
      display: block;
    }

    .search-block {
      background: $white;
    }

    .secondary-links {
      text-align: right;
      a {
        color: $white;
        @include font-smoothing;
      }
    }
  }
}

body.overlapping-header {
  @include media-md {
    .site-header {
      top: 0;
      left: 0;
      width: 100%;
      position: absolute;
      background-color: rgba($black,0.5);
    }
  }
}

body.white-header {
  .site-header {
    background-color: $white;
  }
  .secondary-links a {
    color: $black;
  }
}



.lockup {
  @include clearfix;
  position: relative;

  .affiliated-engineers {
    float: left;

    &::after {
      top: 0px;
      left: 50%;
      width: 3px;
      content: '';
      bottom: 3px;
      position: absolute;
      transform: skew(-18deg);
      background-color: $concrete-light;

      @include media-lg {
        background-color: $white;
      }
    }

    .logo {
      fill: $black;
      display: block;
      width: 104.3px;
      height: 45.0px;
    }
  }

  .plan-design-commission {
    @include font-details;
    @include semantic-only-list;
    margin: 0;
    top: -3px;
    float: right;
    text-align: right;
    position: relative;
  }
}