.right-col-wrap {
  width: 100%;
  padding-left: $padding;

  @include media-lg {
    padding-left: 33.33%;
  }

  .right-col {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;

    .site-main {
      flex: 1;
      @include clearfix;
    }
  }
}