.right-col-wrap {
  width: 100%;
  padding-left: $padding;

  @include media-lg {
    padding-left: 33.33%;
  }



  .right-col {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;

    .site-main {
      flex: 1;
      @include clearfix;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  .row-block {
    display: block;
    flex-basis: 100%;

    @include media-md {
      flex-basis: 50%;

      &.-right {
        margin-left: 50%;
      }

      &.-quarter {
        flex-basis: 25%;
      }

      .module {
        min-height: 100%;
      }
    }
  }

  &.-separators {
    .row-block {
      position: relative;

      &::after {
        bottom: 0;
        height: 1px;
        content: '';
        left: $padding;
        right: $padding;
        position: absolute;
        background: $off-white;
      }

      @include media-md {
        &:nth-child(odd){
          &::after {
            right: 0;
            left: auto;
            width: 1px;
            height: auto;
            top: $padding;
            bottom: $padding;
          }
        }

        &:nth-child(even){
          &::after {
            left: calc(-100% + #{$padding})
          }
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  &.-flip-order-md {
    @include media-md {
      flex-direction: row-reverse;
    }
  }
}

.hero-wrap {
  position: relative;

  @include media-md {
    // max-height: 85vh;
    min-height: calc((100vw - #{$padding})*.667); // Aspect ratio 3:2
    padding-top: 16*$beat;
    padding-bottom: 16*$beat;
  }

  @include media-lg {
    min-height: calc(66.67vw * .667);
  }

  .hero-image {
    height: 0;
    position: relative;
    padding-bottom: $landscape-padding;

    @include media-md {
      top: 0;
      left: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }

    .thumb {
      @extend .bg-cover;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}

.theater-wrap {
  position: relative;
  overflow: hidden;

  @include media-md {
    display: flex;
    flex-direction: column;
    min-height: calc((100vw - #{$padding})*9/16);

    .row:first-child {
      flex-grow: 1;
    }
  }
  @include media-lg {
    min-height: calc((66.67vw)*9/16);
  }

  .theater {
    height: 0; 
    position: relative;
    padding-bottom: 100% * 9/16; // aspect ratio block on mobile

    @include media-md { // fills wrap behind content in md+
      @include fill;
      padding: 0;
    }
  }

  .theater-cover-top, .theater-cover-bottom {
    z-index: 1;
    transition: transform 0.3s 0.3s;
  }

  .theater-mask {
    transition: opacity 0.3s;
  }

  &.-open {
    .theater-mask {
      opacity: 0;
      transition: opacity 0.3s 0.3s;
      pointer-events: none;
    }
    @include media-md {
      .theater-cover-top, .theater-cover-bottom {
        transition: transform 0.3s;
      }
      .theater-cover-top {
        transform: translateY(-100%);
      }
      .theater-cover-bottom {
        transform: translateY(100%);
      }
    }
  }
}




// .no-flexbox {

//   .site-header {
//     float: left;
//     width: 33.33%;
//   }

//   .site-wrapper {
//     float: left;
//     width: 66.67%;
//   }
// }
