.masonry-grid {
  @include clearfix;
  margin: 0;

  @include media-lg {
    margin-top: 16*$beat;
  }

  .masonry-item, .masonry-sizer {
    width: 100%;
    @include media-md {
      width: 50%;
    }
  }
}