// Main Site Navigation

@keyframes nav-arrow-hover {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: none;
  }
}

.site-nav {
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  position: fixed;
  right: $padding;
  padding: $padding;
  overflow-y: scroll;
  transition: transform 0.2s;
  background: $concrete-light;

  @include min-screen(900px) {
    right: auto;
    width: calc( 50% - #{$padding/2} );
  }

  @include media-lg {
    width: 33.33%;
    display: flex;
    transition: none;
    // overflow-y: hidden;
    flex-direction: column;

    .secondary-links, .search-open {
      display: none;
    }
  }

  .lockup {
    display: none;
    @include media-lg {
      display: block;
      margin-top: 12*$beat;
    }
  }

  .primary-links {
    @include font-nav;
    margin-top: 15 * $beat;
    @include font-smoothing;
    @include semantic-only-list;

    @include media-lg {
      display: flex;
      flex-shrink: 1;
      min-height: 32*4px;
      margin: $padding 0;
      flex-direction: column;
      justify-content: center;

      flex-basis: 38*$beat;
    }

    .primary-links-item {
      color: $white;
      position: relative;

      a {
        text-decoration: none;

        &::after {
          right: 0;
          opacity: 0;
          bottom: 3px;
          content: '';
          width: 11.1px;
          height: 15.7px;
          position: absolute;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('../svgs/icon-right-arrow.svg');
        }
      }

      &.current a, a:hover {
        color: $black;
        &::after {
          opacity: 1;
        }
      }

      a:hover {
        &::after {
          animation-name: nav-arrow-hover;
          animation-duration: 0.3s;
        }
      }
    }
  }

  .filters {
    @include font-filter;
    @include font-smoothing;
    @include semantic-only-list;
    margin: 10*$beat 0 0;

    @include media-lg {
      margin: 0;
    }

    .filters-item {
      display: inline;

      a {
        color: $white;
        text-decoration: none;

        &::after {
          content: '/';
          color: $white;
          margin-left: 0.8ch;
          margin-right: 0.4ch;
        }
      }

      &.current a, a:hover {
        color: $black;
      }

      &:last-child {
        a::after {
          display: none;
        }
      }
    }
  }
}

.secondary-links {
  @include font-buttons;
  @include semantic-only-list;
  margin: 0;
  z-index: 1;
  top: $padding;
  right: $padding;
  position: absolute;

  .secondary-links-item {
    display: block;
    margin-bottom: $beat;

    @include min-screen(430px) {
      display: inline-block;
    }

    &:first-of-type {
      margin-right: 3ch;
    }

    &.current a, a:hover {
      text-decoration: underline;
    }

    a {
      text-decoration: none;
    }
  }
}

.search-open {
  @include font-buttons;
  z-index: 1;
  top: $padding;
  left: $padding;
  position: absolute;

  .icon-search {
    top: 3px;
    fill: $black;
    width: 10.5px;
    height: 10.5px;
    margin-left: $beat;
    position: relative;
  }
}

.nav-close {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  cursor: pointer;
  transition: opacity 0.2s;
  background-color: rgba($black,0.75);

  @include media-lg {
    display: none;
  }

  .icon-x {
    top: 38.7px;
    right: 14.7px;
    width: 10.7px;
    height: 10.7px;
    position: absolute;
    fill: $concrete-light;
  }
}

.nav-open {
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  width: $padding;
  cursor: pointer;
  background-color: $concrete-light;

  @include media-lg {
    display: none;
  }

  .icon-hamburger {
    top: 41px;
    left: 14px;
    width: 12px;
    height: 6px;
    fill: $black;
    position: absolute;
  }
}

@include max-screen ($breakpoint-lg - 1px) {
   body.site-nav-closed, body:not(.loaded) {
    .site-nav {
      transform: translateX(-100%);
    }
    .nav-close {
      opacity: 0;
      pointer-events: none;
    }
  }
  body.site-nav-open {
    overflow: hidden;
  }
}