<!doctype html>
  <!--[if IE 9 ]> <html lang="en" class="no-js ie9 lt-ie10"> <![endif]-->
  <!--[if gt IE 9]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

  {% include head.html %}

  <body class="{% body_class %} {{ page.bodyClasses }}">
    <div id="breakpoint-indicator"></div>

    {% include header.html %}
    
    <div class="site-wrapper">
      <main class="site-main" role="main">

        {{ content }}

      </main>

      {% include footer.html %}
    </div>

  </body>
</html>